<!doctype html>
<html data-ng-app="contactList">
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
        <script src='contactModule.js'></script>
        <script src="node_modules/sweetalert/dist/sweetalert.min.js"></script>
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="node_modules/sweetalert/dist/sweetalert.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body ng-controller="contactController">
<div class="container">
  <h2>Contact List</h2>
  <div ng-click="collaspeState()" class="collBut"><a href="#" data-toggle="collapse" data-target="#coll">{{state}} <span><i class="{{icon}}"></i></span></a></div>
  <div id="coll" class="collapse">
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Type</th>
            <th>Name </th>
            <th>Title</th>
            <th>Phone </th>
            <th>Ext.</th>
            <th>Fax</th>
            <th>Email</th>
            <th></th>
        </tr>
      </thead>
        <tbody>
          <tr ng-repeat="contact in contacts">
            <td>{{contact.type}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.Title}}</td>
            <td>{{contact.Phone}}</td>
            <td>{{contact.Ext}}3</td>
            <td>{{contact.Fax}}</td>
            <td>{{contact.email}}</td>
            <td><span class="btn btn-danger btn-xs" ng-click="deleteUser($index)">Delete</span></td>
          </tr>
        </tbody>
    </table>
    <div><span class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addUser">Add User</span></div>
         
  </div>
</div>
        
<div id="addUser" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add User</h4>
      </div>
      <div class="modal-body">
       <form role="form" ng-submit="submit()" ng-controller="contactController">
            <div class="form-group">
              <label for="Type">Type:</label>
              <input type="Text" class="form-control" id="Type" ng-model="type" placeholder="Enter Type">
            </div>
            <div class="form-group">
              <label for="Name">Name:</label>
              <input type="Name" class="form-control" id="Name" ng-model="name" placeholder="Enter Name">
            </div>
            <div class="form-group">
              <label for="Title">Title:</label>
              <input type="text" class="form-control" id="Title" ng-model="Title" placeholder="Enter Title">
            </div>
            <div class="form-group">
              <label for="Phone">Phone:</label>
              <input type="text" class="form-control" id="Phone" ng-model="phone" placeholder="Enter Phone">
            </div>
            <div class="form-group">
              <label for="EXT">EXT:</label>
              <input type="text" class="form-control" id="EXT" ng-model="ext" placeholder="Enter EXT">
            </div>
            <div class="form-group">
              <label for="fax">Fax:</label>
              <input type="text" class="form-control" id="fax" ng-model="fax" placeholder="Enter Fax">
            </div>
            <div class="form-group">
               <label for="email">Email:</label>
               <input type="text" class="form-control" id="email" ng-model="email" placeholder="Enter Email">
            </div>
          <input type="submit">
        </form>
      </div>
    </div>

  </div>
</div>
</body>
</html>